.gallery-item {
  width: 360px;
  height: 200px;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  background-color: #f5f5f5;
}

.gallery-item:hover {
  transform: scale(1.05);
}

.gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.image-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 48px;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding-top: 2px;
  font-size: 12px;
}

.image-info p {
  margin: 0;
  text-align: center;
  font-size: 12px;
}

.image-info b {
  display: block;
  font-weight: bold;
  color: #333;
  margin-bottom: 2px;
  font-size: 12px;
}

/* Стилі для форми */
.form {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.form input {
  width: 300px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-right: 10px;
}

.form button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
}

.form button:hover {
  background-color: #0056b3;
}

/* Стилі для повідомлень iziToast */
.iziToast {
  font-family: 'Arial', sans-serif;
  font-size: 16px;
}

.iziToast .iziToast-title {
  font-weight: bold;
}

.iziToast .iziToast-message {
  font-size: 14px;
}

/* Лоадер */
.loader {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 48px;
  height: 48px;
  border-radius: 50%;
  visibility: hidden;
  border-top: 4px solid #fff;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-bottom: 4px solid blue;
  border-left: 4px solid transparent;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Клас для показу лоадера */
.loader-show {
  visibility: visible;
}

/* Style the gallery container */
.gallery-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the button horizontally */
  margin-top: 20px; /* Space between gallery and button */
}

/* Button style */
.load-more-btn {
  width: 125px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 20px; /* Optional space between gallery and button */
}

.load-more-btn:hover {
  background-color: #0056b3;
}
